In [ ]:
# Variables.: Variable is a memory named location where data can be stored in different types.
Rules:
1.Variables can not start with any number.
2.It can not includes any symbol. exclude(_).
3.It can not includes any whitespaces.
4.It can not be any already defined keyword.
5.It can be any from a to z.

In [1]:
# 1.Variables can not start with any number.
34='dreamer infotech'
print(34)

SyntaxError: cannot assign to literal (2065745447.py, line 2)

In [5]:
# 2.It can not includes any symbol. exclude(_).
# @=23
# print(@)
_=23
print(_)
n_n1=78
print(n_n1)

23
78

In [8]:
# 3.It can not includes any whitespaces.
full_name="mahesh dreamer"
print(full_name)

mahesh dreamer

In [12]:
# print="dev"
print(print("dev"))

TypeError: 'str' object is not callable

In [12]:
var1=45
var2=45
var3=10.12
# print(var1+var2+var3)
res=var1+var2+var3
res=res+10
print(res)

print(type(var1))
print(type(var3))
print(id(var1))

110.12
<class 'int'>
<class 'float'>
2542849060528

In [ ]:
# Data Types:
Number => int,float
Charecter => str
Boolean => True,False

In [14]:
# int
a=23
b=23
c=a+b
print("Result :",c)

Result : 46

In [16]:
# float
a=23.56
b=23.45
c=a+b
print("Result :",c)
print(type(c))

Result : 47.01
<class 'float'>

In [34]:
# str
# first_name="Dreamer"
# last_name ="Infotech"
# res=first_name+"_"+last_name
# print(res)
# print(type(res))

text="""[I 2024-06-15 10:57:02.713
ServerApp] Kernel started: a4da3b8b-0278-4330-a77a
-b502e409ea71[I 2024-06-15 10:57:04.772 ServerApp]
Connecting to kernel a4da3b8b-0278-4330-a77a-b502e409ea71."""
print(text)

[I 2024-06-15 10:57:02.713
ServerApp] Kernel started: a4da3b8b-0278-4330-a77a
-b502e409ea71[I 2024-06-15 10:57:04.772 ServerApp]
Connecting to kernel a4da3b8b-0278-4330-a77a-b502e409ea71.

In [28]:
# Boolean : True:1 False:0
a=True+False
print(a)
print(type(a))

1
<class 'int'>

In [31]:
v1='12'
v2='13'
r=v1+v2
print(r)

1213

In [4]:
salary=30000.0050000
print(salary)
print(type(salary))

30000.005
<class 'float'>

In [7]:
a1=23.5
a2=35.4
z=a1+a2
print(z)

58.9

In [14]:
# string ('',"",""" multiline-string """)
# my_address='faridabad NIT-3'
# print(my_address)

# my_address="faridabad NIT-3"
# print(my_address)

# my_intro="""My self dev and 
# i am woking as 
# a tutor with dreamer infotech since 2020"""
# print(my_intro)

My self dev and
i am woking as
a tutor with dreamer infotech since 2020

In [ ]:
# Type casting
# int()
# str()
# float()

In [18]:
# Float to integer
user_age=int(23.01)
new_age=int(user_age)
print(user_age)
print(type(user_age))
print(new_age)

23
<class 'int'>
23

In [23]:
# interger to float
user_salary=float(3000)
new_salary=float(user_salary)
print(new_salary)

3000.0

In [29]:
# string to integer
user_mob=int('7800596319')
print(user_mob)
print(type(user_mob))

7800596319
<class 'int'>

In [35]:
mob='35433433'
if len(mob)<10:
    print("Please enter valid number ")
else:
    print("Your logged successfully")

Please enter valid number

In [ ]:
# Input/output
# input()

In [39]:
# By default input return string type
n1=input("Enter your number 1 :")
n2=input("Enter your number 2 :")
res=n1+n2
print(res)
print(type(n1),type(n2))

Enter your number 1 : 1
Enter your number 2 : 2

12
<class 'str'> <class 'str'>

In [43]:
# converting user input in integer form using int():
n1=int(input("Enter your number 1 :"))
n2=int(input("Enter your number 2 :"))
res=n1/n2
print(res)
print(type(n1),type(n2))

Enter your number 1 : 1212
Enter your number 2 : 12

101.0
<class 'int'> <class 'int'>

In [44]:
# float does not work with int()
n1=int(input("Enter your number 1 :"))
n2=int(input("Enter your number 2 :"))
res=n1/n2
print(res)
print(type(n1),type(n2))

Enter your number 1 : 12
Enter your number 2 : 10.90

ValueError: invalid literal for int() with base 10: '10.90'

In [47]:
# float does not work with int()
n1=float(input("Enter your number 1 :"))
n2=float(input("Enter your number 2 :"))
res=n1+n2
print(res)
print(type(n1),type(n2))

Enter your number 1 : 12.12
Enter your number 2 : 30.30

42.42
<class 'float'> <class 'float'>